body {
  background-image: url("../images/background.png");
}

h1 {
  padding: 3px;
  background: #C97035;
  width: 184px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  margin: 10px;
  font-size: 24px;
  height: 60px;
  font-family: "Times New Roman", Times, serif;
  line-height: 60px; 
  padding-right: 5px;
}

.instructions {
  background: #FBE6D0;
  color: green;
  width: 370px;
  line-height: 1.5;
  padding: 5px;
  font-size: 18px;
  margin: 10px;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
  padding-top: 20px;
  padding-bottom: 90px;
}

.instructions p {
  padding: 5px;
}

.row {
  display: flex;
}

.numBox {
  background-color: #61C784;
  color: #651A5F;
  font-size: 36px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 170px;
  height: 85px;
  padding: 5px;
}

.winlossRecord {
  background-color: #56FDFE;
  padding: 5px;
  padding-bottom: 30px;
  margin-bottom: 5px;
  width: 70px;
  height: 60px;
  vertical-align: middle;
  padding-left: 5px;
  line-height: 42px; 
  color: #237A77;
}

.crystalsRow {
  display: flex;
  width: 300px;
  margin-left: 5px;
}

.crystal {
  margin: 5px;
  margin-bottom: 7px;
}

.crystal:hover {
  position: relative;
  bottom: 5px;
  cursor: pointer;
}

.scorePrompt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}

.scorePrompt p {
  padding-left: 5px;
  padding-top: 8px;
  padding-right: 5px;
  width: 176px;
  color: white;
  font-size: 16px;
  background-color: #279285;
}

.scorePrompt p:last-child {
  height: 24px;
  font-size: 16px;
  margin-left: 10px;
}

.score p {
  padding: 5px;
  width: 176px;
  color: white;
  font-size: 16px;
  background-color: #279285;
}

.score {
  margin-bottom: 25px;
}

.score p:last-child {
  margin-left: 10px;
  height: 100px;
  font-size: 40px;
}

.crystalsRow img {
  height: 65px;
  width: 65px;
  background: white;
}

@media screen and (max-width: 980px) {
  div { 
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    } 

@media screen and (max-width: 768px) {
	div { 
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
        } 
        
@media screen and (max-width: 640px) {
  div { 
          width: 100%;
          position: static;
        } 